body { 
    font-family: Arial, sans-serif;
    line-height: 1.6; 
    margin: 0;
    padding: 0; 
    background-color: #f6d3f5; 
} 
header { 
    background:  #e48edd;
    color:  rgb(255, 255, 255);
    padding: 20px;
    text-align: center; 
} 

nav ul { 
    list-style: none; 
    padding: 0; 
} 
nav ul li { 
    display: inline;
    margin: 0 15px; 
} 
nav ul li a { 
    color:  white;
    text-decoration: none; 
} 
main { 
    padding: 20px; 
} 
section, article { 
    background:  white;
    margin-bottom: 20px; 
    padding: 20px; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px  rgba(0, 0, 0, 0.1); 
} 
aside { 
    background:  #e2e2e2; 
    padding: 20px; 
    margin: 20px 0;
    border-radius: 5px; 
} 
footer { 
    text-align: center; 
    padding: 10px; 
    background:  #333; 
    color:  white; 
    position: relative; 
    bottom: 0;
    width: 100%; 
}